NEXT_PUBLIC_SUPABASE_URL=https://thsvpkktpdcefhykvhms.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoc3Zwa2t0cGRjZWZoeWt2aG1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mjc2MjgsImV4cCI6MjA5NTIwMzYyOH0.ggMuStJa-vRdBRkiwP9P6WqVXneOiadJyCQQKbLdu0o
